body {
  font-family: "Lato", sans-serif;
}

.navbar {
    align-items: center;
    background: #f7373a;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    left: 0;
    position: fixed;
    top: 0;
    width: 3em;
}

.navbar__list {
    list-style: none;
    padding: 0;
    position: relative;
    text-align: center;
}

.navbar__btn {
    all: unset;
    cursor: pointer;
    color: #fff;
    font-size: 1.25rem;
}

.navbar__item--social {
      margin: 1em 0;
}
.navbar__item--social:last-child {
        margin-bottom: 0;
}

.navbar__link {
    color: #fff;
    transition: all 300ms ease;
}

.nav {
    background: #f7373a;
    height: 100%;
    position: fixed;
    transition: all 300ms ease;
    width: 20em;
    top: 0;
    z-index: 100;
} 

.nav__list {
      list-style: none;
}
  
.nav__item {
      margin: 1em 0;
}
  
.nav__link {
      color: #fff;
      font-size: 2rem;
      text-transform: uppercase;
      text-decoration: none;
      transition: color 300ms ease;
      font-weight: bold;
}

.nav__btn {
      all: unset;
      color: #f7373a;
      cursor: pointer;
      display: block;
      padding: 0.5em;
      position: absolute;
      font-size: 1.5rem;
      right: -2em;
      top: 0.15em;
      transition: all 300ms ease;
}    
  
@media (max-width: 40em) {
    .nav {
      width: 15em;
    }
    .nav__link {
        font-size: 1.25rem;
      }
      
     .nav__btn {
        color: #fff;
        font-size: 1rem;
        right: .5em;
        top: .5em;
      }
    }
